@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');




/* NAV BAR!!! */
.nav_ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;
    font-size: 20px;
    margin: 0;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(240, 204, 210);
    opacity: 80%;
}

.button {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  color: rgb(19, 19, 19); 
  border-radius: 2px;
  border: solid 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgba(241, 241, 241, 0.795);
  cursor: pointer;
}

.button:hover{
background-color: rgb(167, 165, 165);
}

a {
    text-decoration: none;
    color: rgb(172, 28, 3);
    margin-right: 30px;

}
/* END OF NAV BAR */


/* FOR ELIMINATING 8PX BORDER FROM DEFAULT WEBSITE & BODY HEIGHT*/
body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 1700;
  flex-direction: column;
}

/* footer */
footer {
  background-color: rgba(141, 160, 135, 0.303);
  color: white;
  width: 100%;
}

.icon_left {
	width: auto;
    height: 80;
    float: left;
}
#cute_picdiv{
	height: 30px;
  }
  
  .icon_right{
  width: auto;
  height: 80px;
  float: right;
  }

  /* END OF FOOTER */

/****** PAGE 1: HOME ******/






/******PG 2: THESIS******/
#thesis_body {
    background-image: url(https://i.postimg.cc/g0Fv87Ff/Thesis-Background.jpg);
    background-size: 70%;
    background-attachment: fixed;
    min-height: 900px;
}

#thesis_div{
  min-height: 780px;
}


/******PAGE 3: ELEMENTS******/

#pg3_elements_body{
  background-image: url();
}

#pg3_elements_body{
  background-image: url(https://i.postimg.cc/Fzm7P6Yk/hand2.png);
  background-size: 100%;
  background-attachment: fixed;
}

#pg3_firstdiv {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  width: 700px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}


/* START OF ELEMENT DIVS */
.element_parent {
  border: none;
  margin: 1rem;
  text-align: center;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20 0 20;
}

.element_child {
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 300;
  height: 250;
  margin: auto;
  background-color: rgba(248, 223, 227, 0.66);
  box-shadow: -10px 15px 0px 5px rgb(0, 0, 0);
}


.element_subchild1 li {
  padding: 3%;
}
/* END OF ELEMENT DIVS!!! */

/* START OF CLICKABLE ELEMENT TABS!!! */
.tabs {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 1300px;
  }
   
  .tabs label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: rgba(255, 223, 228, 0.548);
    font-weight: bold;
    transition: background ease 0.3s;
    border: 1px solid rgb(61, 59, 59);
    box-shadow: 0px 5px 10px 10px rgba(148, 148, 148, 0.724);
  }
   
  .tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 700px;
    display: none;
    padding: 1rem;
    background: rgba(240, 209, 214, 0.624);
    padding: 20px;
    box-shadow: -10px 10px 0px 0px black;
  }

   
  .tabs input[type="radio"] {
    display: none;
  }
   
  .tabs input[type="radio"]:checked + label {
    background: #c2c1c1;
  }
   
  .tabs input[type="radio"]:checked + label + .tab {
    display:block;
  }
   


  .tabs {
    margin: auto;
    margin-top: 100px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .elements_tab_li li {
    padding: 1.9%;
    margin: 5px;
    text-align: left;
    color:black;  
}

  


/* DIV ABOVE PINK BOXES */


.tabs_p {
  line-height: 100%;
}





/********** PAGE 4: FILM, TV, PLUS*************/

#pg4_body{
  background: 
    url(https://pbs.twimg.com/media/CTPIPmcXIAAPy51.png) left top no-repeat, 
    url(https://leobruce09.files.wordpress.com/2015/10/wpid-58022e29593639-55fa466220f372.png) left 800px no-repeat, 
    url(https://inspgr.id/app/uploads/2016/01/illustration-gustavo-viselner-07.jpg) left 1600px no-repeat,
    url(https://i.ytimg.com/vi/AkEsMsUOb04/maxresdefault.jpg) left 2410px no-repeat;
  background-size: 100%;



  

}

/* !!!!!!!!ALL TEXT DIVS!!!!!!!!!  LISTED SECTION NAMES MOVIES DIVS*/
/* HEADING DIV */
#pg4_firstdiv {
  margin: auto;
  padding: 5%;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/* MOVIE DIVS!!!! */
#pg4_parent {

    padding: 5px;
    height: 510px;
    width: 900px;
    margin: auto;
    margin-bottom: 4px;
    background-color: rgba(255, 255, 255, 0.644);
    
}


#pg4_child1 {

    height: 500px;
    width: 500px;
    float: left;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-right: 30px;
    margin-left: 20px;
    line-height: 1.4;
    
}

#pg4_sub {

    display: flex;
    height: 250px;
    width: 300px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    flex-direction: column;
    align-items: center;

    
}

#pic1{
  height: 200px;
  width: 300px;
}

#pic2{
  height: 200px;
  width: 200;
}




/* TV DIVS!!!!!!! */

#pg4_parenttv{
  border: solid 5px;
  border-color: rgb(224, 52, 0);
  height: 600px;
  width: 900px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.623);
}

#pg4_child1tv{
  border: solid 3px;
  border-color: rgb(66, 255, 66);
  height: 580px;
  width: 480px;
  float: left;
  margin-right: 20px;
  line-height: 1.3;
}


#pg4_subtv{
  border: solid 3px;
    border-color: rgb(255, 0, 221);
    display: flex;
    height: 270px;
    width: 380px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

#pic3{
  height: 220px;
}

#pic4{
  height: 250px;
}

/* ANIME DIVS !!!!!!! */

#pg4_parenttv2{
  border: solid 5px;
  border-color: rgb(238, 255, 0);
  height: 555px;
  width: 1000px;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.432);
}

#pg4_child1tv2{
  border: solid 3px;
  border-color: rgb(0, 217, 255);
  height: 550px;
  width: 500px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 1.2;
}


#pg4_subtv2{
  border: solid 3px;
    border-color: rgb(140, 0, 255);
    display: flex;
    height: 270px;
    width: 400px;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
}

#pic_5{
  height: 240px;
}

#pic_6{
  height: 240px;
}

/* MUSIC VIDEOS DIVS!!!!!!!!! */

#pg4_parenttv3{
  border: solid 5px;
  border-color: rgb(121, 6, 44);
  height: 450px;
  width: 900px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.637);
}

#pg4_child1tv3{
  border: solid 3px;
  border-color: rgb(190, 138, 88);
  height: 340px;
  width: 500px;
  float: left;
  margin-right: 30px;
  margin-left: 5px;
  margin-top: 20px;
  line-height: 1.5;
  
}


#pg4_subtv3{
  border: solid 3px;
    border-color: rgb(110, 122, 110);
    display: flex;
    height: 200px;
    width: 310px;
    margin-bottom: 10px;
}


/* YOUTUBE VIDEOS DIVS ID!!!!!!!!! */

#pg4_parenttv4{
  border: solid 5px;
  border-color: rgb(116, 104, 108);
  height: 580px;
  width: 900px;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.534);
}

#pg4_child1tv4{
  border: solid 3px;
  border-color: rgb(0, 211, 123);
  height: 540px;
  width: 450px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 1.5;
  
}


#pg4_subtv4{
  border: solid 3px;
    border-color: rgb(161, 76, 147);
    display: flex;
    height: 290px;
    width: 400px;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
}

#pic9{
  height: 260px;
  width: 300;
}

#pic_10{
  height: 250px;
}

.pg4_img_desc{
  margin-top: 5px;
  margin-bottom: 1px;
}

/**** consequences div ****/
#cons_div {
  width: 100%;
  padding: 0px;
  text-align: center;
  background-color: rgb(146, 10, 10);
  margin-top: 20px;
  margin: auto;
  display: none;
  height: 800px;
}

/* consequences button */
#test {
  border: 0px;

  color: white;
  font-size: 25px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 50px;
  width: 240px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 200px;
  cursor: pointer;
  background-color: rgba(143, 0, 0, 0.904);
  box-shadow: 
    inset -1px 2px 15px 2px rgb(34, 34, 34),
    inset -2px -2px 1px 1px rgb(226, 226, 226),
    inset 2px 0px 1px 1px rgb(151, 151, 151);
}

#test:active {
  top: 5px;
  box-shadow:
    inset -1px 2px 15px 2px rgb(34, 34, 34),
    -1px 1px 2px 2px rgb(56, 56, 56),
    -1px -1px 1px 1px rgb(214, 214, 214),
    1px 0px 1px 2px rgb(170, 170, 170);
}


#test:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  transform: translateY(+3px)
}

/* THE CONSEQUENCES IMAGES!!!!!!!! */
.cons_img {
  display: inline;
}

#cons_img1{
  height: 200px;
}

#cons_img2{
  height: 200px;
}

#cons_img3{
  height: 200px;
}

#cons_img4{
  height: 300px;
}

#cons_img5{
  height: 150px;
}

#cons_img6{
  height: 200px;
}



/***********PAGE 5: VALUE*************/

#custom_pg5{
  background: linear-gradient(to bottom, rgb(14, 14, 14), #0c0c0c,  #4b4346, #ffeaf2, #ffe8f1, #fff9fc);
}

#custom_pg5 .nav_ul{
  background-color: black;
  opacity: 100%;
}

/* ADDED MIN HEIGHT TO PG 5 BODY. MIN HEIGHT IN OTHER PAGE IS 1600.  */
#custom_pg5 {
  min-height: auto;
}

/* WINDOWS 95 WARNING ICON */
.container {
  margin: auto;
  margin-top: 20px;
}

.warning {
	background: #BFBFBF;
	display: block;
	min-height: 50px;
	width: 600px;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
	border: 1.4px solid white;
}

.warning-bar {
	width: 100%;
	background: #01007A;
	height: 35px;
}

.warning-title {
	color: white;
	letter-spacing: .5px;
	word-spacing: .5px;
	padding-left: 5px;
	float: left;
	font-weight: 600;
}

.warning-exit	{
	height: 30px;
	display: block;
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
}

.warning-exit {
	padding-left:  8px;
	padding-right: 5px;
}

.button-exit  {
	background: #BFBFBF;
	font-weight: 600;
	color: #6F6F6F;
	height: 20px;
	width: 19px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid white;
	border-top: 1px solid white;
	font-size: 55%;
	text-align: center;
	}

.warning-content {
	height: 210px;
	width: 538px;
	border-radius: 1px;
	border: 1.2px solid black;
	overflow: hidden;
	padding: 20px 30px;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
}

.windows95_p {
  margin: 5px 0px
}

.warning-icon {
	height: 35px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid black;
	display: block;
	background: red;
	text-align: center;
	color: white;
	padding-top: 1px;

	font-size: 20px;
	font-weight: 300;
	-webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.30);
	-moz-box-shadow:  2px 2px 3px 2px rgba(0,0,0,0.30);
	box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.30);
	float: left;
}

.warning-message {
	margin-left: 80px;
	max-width: 600px;
	font-weight: 600;

}

.warning-button {
	margin: auto;
	display: block;
	text-align: center;
	padding: 5px;
	border-top: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	margin-left: 200px;
  margin-right: 200px;
  margin-top: 45px;
}

.warning-btn-text {
	font-weight: 600;
	border: 1px dotted black;
	padding: 3px 40px;
	display: block;
}

/* **END OF WINDOWS 95 WARNING ICON** */

#flame{
  float: left;
  position: relative;
  width: 180px;
  height: 250px;
  position: absolute;
  top: 300px;
  left: 200px;
}

#flame2{
  float: left;
  position: relative;
  width: 180px;
  height: 250px;
  position: absolute;
  top: 300px;
  left: 1400px;
}

#value_h2 {   /* Our media is oversaturated with misleading information.... */
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 900px;
  text-align: center;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(211, 0, 0);
}


#value_h2_2 {  /* "So is it all bad?  */
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#pg5_parent{
  border: solid 5px;
  border-color: rgb(116, 104, 108);
  height: 3400px;
  width: 1200px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

#pg5_child1{
  border: solid 3px;
  border-color: rgb(0, 211, 123);
  height: 320px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 17px;
  line-height: 30px;
  color: white;
}

#pg5_child1_2{
  border: solid 3px;
  border-color: rgb(0, 211, 123);
  height: 320px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 17px;
  line-height: 30px;
}


#pg5_sub{
  border: solid 3px;
    border-color: rgb(161, 76, 147);
    display: flex;
    height: 220px;
    width: 350px;
    margin-bottom: 140px;
    margin-top: 70px;
}


/* unique texts divs  */
#pg5_child1_brave{
  border: solid 3px;
  border-color: rgb(248, 0, 124);
  height: 350px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.4;
  font-size: 17px;
}

#coraline_parent{
  border: solid 3px;
  border-color: rgb(248, 0, 124);
  height: 580px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.4;
  font-size: 17px;
}

#marriage_story_parent{
  border: solid 3px;
  border-color: rgb(163, 59, 111);
  height: 330px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.4;
  font-size: 17px;
}

#barbie_parent{
  border: solid 3px;
  border-color: rgb(194, 0, 48);
  height: 450px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.4;
  font-size: 17px;
}

#pg5_sub12{
  border: solid 3px;
    border-color: rgb(205, 219, 0);
    display: flex;
    height: 220px;
    width: 350px;
    margin-bottom: 140px;
    margin-top: 200px;
}

#pg5_sub13{
    border: solid 3px;
    border-color: rgb(205, 219, 0);
    display: flex;
    height: 220px;
    width: 350px;
    margin-bottom: 280px;
    margin-top: 220px;
}

#pg5_sub14{
border: solid 3px;
    border-color: rgb(205, 219, 0);
    display: flex;
    height: 220px;
    width: 350px;
    margin-bottom: 180px;
    margin-top: 280px;
}

#turning_red_parent{
  border: solid 3px;
  border-color: rgb(238, 69, 153);
  height: 350px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.4;
  font-size: 17px;
}

#no_longer_here_parent{
  border: solid 3px;
  border-color: rgb(238, 69, 153);
  height: 350px;
  width: 800px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.4;
  font-size: 17px;
}

#pg5_pic1{
  height: 180;
  margin-top: 20px;
}

#pg5_pic2{
  height: 200px;
  margin-top: 10px;
}

#pg5_pic4{
  height: 200px;
  margin-top: 10px;
}

#pg5_pic9{
  height: 200px;
  width: auto;
  margin-top: 10px;
}

#pg5_pic10{
  height: 210px;
  margin-top: 5px;
}

#pg5_pic11{
  height: 200px;
  margin-top: 10px;
}

#pg5_pic12{
  height: 210px;
  margin-top: 5px;
}

#pg5_pic14{
  height: 220px;
  width: 350px;
}

#pg5_test_h3{
  text-align: center;
  font-size: 30px;
}

#pg5_test{
  border: solid 4px rgb(96, 17, 201);
  margin: auto;
  width: 650px;
  font-size: 25px;
  line-height: 45px;
  background-color: rgb(226, 226, 226);
  box-shadow: -20px 10px 0px rgb(0, 0, 0);
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
  padding: 25px
}
/******PAGE 6: FAVORITES******/
#pg6_body{
  background-image: url(https://i.postimg.cc/52BHdbMK/l2.jpg);
  background-size: cover;
}

#pg6_title{
  margin: auto;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
}

#pg6_firstdiv{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  margin: auto;
  width: 830px;
  border: solid black;
}

#pg6_parent{
  border: solid 5px;
  border-color: rgb(185, 0, 62);
  height: 500px;
  width: 1400px;
  padding: 5px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 10px;
}

#pg6_child1{
  border: solid 3px;
  border-color: rgb(255, 230, 0);
  height: 480px;
  width: 410px;
  float: left;
}


#pg6_sub{
  border: solid 2px;
    border-color: rgb(168, 101, 255);
    display: flex;
    height: 200px;
    width: 310px;
    float:right;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.fav_imgs{
  height: 200px;
  width: 310px;
}

/* ********page 7: CALL TO ACTION********* */

#pg7_body{
  min-height: fit-content;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1655601990422213593/EECEDAAEEAC730AC95AA5602D6052F2A1F0BD3CE/?imw=1024&imh=574&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

#pg7_title{
  text-align: center;
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

#pg7_firstdiv {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 1300px;
  text-align: center;
  border: solid 2px rgb(0, 153, 255);
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
}



#pg7_quote{
  width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  font-size: 25px;
  border: solid 5px rgb(0, 138, 138);
  font-family: "Mate SC", serif;
  font-weight: 600;
  font-style: normal;
  }

#pg7_quote_author{
  border: solid 2px gold;
  font-size: 20px;
  text-align: right;
  height: fit-content;
  width: 800px;
  margin: auto;
}

#pg7_film_fest_h4{
  width: 1300px;
}

#pg7_festivals{
  font-size: 30px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

#pg7_first_div{
  border: solid 2px green;
  height: 1000px;
  width: 1400px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pg7_img_divs{

  height: 150px;
  width: 150px;
  margin: 5px;
  flex: 1;
  flex-grow: 0;

  margin-right: 45px;
  margin-left: 45px;
}

.pg7_festival_img{
  height: 150px;
  width: 150px;
}

#pg7_festival_img9{
  height: 100px;
  width: 150px;
  margin-top: 20px;
}

#pg7_festival_img13{
  height: 80px;
  width: 150px;
  margin-top: 35px;
 
}

#pg7_festival_img22{
  height: 80px;
  width: 150px;
  margin-top: 30px;
}

/* **********page 8: Resources*********  */
#pg8_body{
  min-height: fit-content;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/024/858/699/original/pixel-jeff-divoom.gif?1583771904);
  background-size: cover;
}


#pg8_first_div{
  border: solid 2px green;
  height: 230px;
  text-align: center;
}

.pg8_img_divs{
  border: solid 5px red;
  height: 200px;
  width: 200px;
  display:inline-block;
  margin-left:50px;
  margin-top: 15px;
}

.paper {
 
  height: 550px;
  width: 450px;
  background: rgba(255,255,255,0.9);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px #888;
}


.text {
  line-height: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 600;
  font-style: normal;
  margin-top: 100px;
  text-align: center;
  font-size: 12px;
}

#resources_title{
  margin-bottom: 80px;
  margin-top: 100px;
}

#written_by{
  margin-top: 2px;
}

#resources_div{
  margin-top: 50px;
}

#resources_links{
  line-height: 0.3;
  
}

.resources_a{
  margin-right: 0;
  text-decoration:underline;
}

#last_drat{
  text-align: right;
  margin-right: 30px;
  margin-top: 150px;
}

/* **********page 9: Contact*********  */



#pg9_contact_body{
  min-height: fit-content;
  margin: 0;
  background-image: url(https://i.redd.it/r97mrbpv18771.gif);
  background-size: cover;
}




/* feeback card starts here */
.card{
  width: 550px;
  height: 610px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 90px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

#feedback_div{
  border: solid 1px rgb(0, 0, 0);
  background-color: rgb(207, 207, 194);
  padding: 3px;
  box-shadow: -15px 25px 0px rgba(0, 0, 0, 10);

}
#pg9_leave_feedback{
  font-size: 40px;
}

#row{
  border: solid 1px rgb(0, 0, 0);
  height: 550px;
  background-color: rgb(226, 225, 223);
  box-shadow: -15px 25px 0px rgba(0, 0, 0, 10);
}


.info_sections{
  font-size: 30px;
  margin-top: 20px;
  padding: 5px;
  margin-left: 20px;
}

#pg9_submit_button{
  margin-top: 100px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

#submit_bttn{
  border: solid 1px black;
  height: 40px;
  width: 100px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  cursor: pointer; 
}

#submit_bttn:hover{
  background-color: rgb(239, 0, 0);
}

/* end of feedback card */